   .overlay {
        position: fixed;
        z-index: 99;
        top: 36%;
        left: 0%;
        width: 100%;
        height: 100%;
         }
         * html .overlay {
        position: absolute;
        height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
        width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
    }
  